h1{
  text-align: center;
}
.grid_container{
  flex-grow: 1;
}
.MuiGrid-spacing-xs-2{
  width: 100% !important;
  margin: auto !important;
}
img{
  width: 70%;
  display: block;
  margin: 0 auto; 
}
.battle-wrapper{
  margin: 10px 0;
  padding: 5px;
  padding-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid grey;
}
.MuiAvatar-root{
  position: absolute !important;
  width: 80px !important;
  height: 80px !important;
  left: 50%;
  top: 50%;
  margin: 0 0 -40px -40px;
}
.king-card{
  padding: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.attacker:hover{
  background: #f50057;
  color: #fff;
}
.attacker:hover .MuiChip-outlinedSecondary{
  color: #fff;
  border-color: #fff;
}
.defender:hover{
  background: #3f51b5;
  color: #fff;
}
.defender:hover .MuiChip-outlinedPrimary{
  color: #fff;
  border-color: #fff;
}
@media screen and (max-width:599px){
  img{
    width: 35%;
  }
  .MuiAvatar-root{
    position: relative !important;
    top: auto;
    left: auto;
    margin: 0 auto; 
  }
}